body{
    /* font-family: monospace; */
    font-family: 'Ricty Diminished', 'Monaco', 'Consolas', 'Courier New', Courier, monospace, sans-serif;
    height:1080px;
    width:1920px;
    display: flex;
    flex-direction: column;
    background-color:rgb(60, 60, 60);
}
.titleArea{
    height: 70px;
    text-align: center;
    /* background-color: rgb(40, 40, 40); */
    background-color: rgb(28, 28, 46);
    color: rgb(128, 128, 128);
}
main{
    width:1920px;
    height:1080px;
    display: flex;
    margin-top: 10px;
}
.sideArea{
    flex: 1;
    text-align: center;
    background-color:rgb(35, 35, 35);
    color: #fff;
}
.centerArea{
    flex: 2;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color:rgb(60, 60, 60);
    color: #fff;
    margin-left: 10px;
    margin-right: 10px;
}

.centerAreaContents1{
  flex: 1;
  text-align: center;
  margin-bottom:-150px; /* 調整 */
  background-color:rgb(35, 35, 35);
  /* background-color:rgb(32, 179, 110); //debug*/
}

.center1-data{
}

.centerAreaContents2{
  display:grid;
  /* grid-template-columns: 50% 50%;
  grid-template-rows: 25% 25% 25% 25%; */
  /* display: flex; */
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
  /* background-color:rgb(35, 35, 35); */
  /* background-color: rgb(22, 27, 105); //debug*/
  
  background-color:rgb(60, 60, 60);
}

.centerArea2_title{
  /* grid-column:1/3;
  grid-row:1/2; */
  /* align-items: center;
  box-sizing: border-box;     崩れ防止 */
  margin-top: 10px;
}
.centerArea2_item{
  /* margin-top:5px; */
  /* grid-column:1/3;
  grid-row:2/5; */
  align-items: center;
  box-sizing: border-box;    /* 崩れ防止*/
  margin-top:-40px;
  background-color: rgb(35, 35, 35);
}
.Max_s, .Min_s{
  display:  inline-block;     /* インラインブロック要素にする */
  box-sizing: border-box;     /* 崩れ防止 */
  width:49%;
  /* background-color: rgb(209, 206, 18); */
}


#minmax{
  margin-left: 30px;
  text-align: left;
  font-size:40px;
  margin-top:60px;
  margin-bottom:-60px;
  clear:both;
}

#curxvalue,#curnvalue,#rpmxvalue,#rpmnvalue,#volxvalue,#volnvalue{
  float:left;
  font-size:80px;
  background-color: rgb(50, 50, 50);
  margin-left: 100px;
  margin-right: 0px;
  position:static;
  bottom:0px;
  right:0px;
}

#unit{
  float:left;
  font-size:30px;
  margin-top:80px;
  padding-top: 40px;
  margin-bottom:0px;
  padding-bottom: 18px;
  background-color: rgb(50, 50, 50);
  position:static;
  bottom:0px;
  right:0px;
}

#altvalue{
  float:left;
  font-size:200px;
  background-color: rgb(50, 50, 50);
  margin-left: 80px;
  align-content: center;
  text-align: right;
  /* margin-right: 50px; */
  position:static;
  bottom:0px;
  right:0px;
}

#altunit{
  float:left;
  font-size:50px;
  margin-top:200px;
  padding-top: 135px;
  margin-bottom:0px;
  padding-bottom: 43px;
  background-color: rgb(50, 50, 50);
  position:static;
  bottom:0px;
  right:0px;
}

#sesnsortitle{
  width:100%;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  margin-top:0px;
  background-color: rgb(28, 28, 46);
  position:static;
  bottom:0px;
  right:0px;
}
